<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ConnectionSetting" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BLMES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="REPORT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <ConnectionSetting>
    <BLMES>
      <setting name="dbHost" serializeAs="String">
        <value>TNBLFW1</value>
      </setting>
      <setting name="dbConnectionType" serializeAs="String">
        <value>oracleConnection</value>
      </setting>      
      <setting name="dbUser" serializeAs="String">
        <value>innmes2</value>
      </setting>
      <setting name="dbPass" serializeAs="String">
        <value>T4jpSeHg/5g=</value>
      </setting>
      <setting name="passwordEncrypted" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbInitCatelog" serializeAs="String">
        <value></value>
      </setting>      
    </BLMES>
    <REPORT>
      <setting name="dbHost" serializeAs="String">
        <value>TNBLFW1</value>
      </setting>
      <setting name="dbConnectionType" serializeAs="String">
        <value>oracleConnection</value>
      </setting>
      <setting name="dbUser" serializeAs="String">
        <value>innmes_lcm</value>
      </setting>
      <setting name="dbPass" serializeAs="String">
        <value>+NopjWOq3F/IP7LVpS/HAw==</value>
      </setting>
      <setting name="passwordEncrypted" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbInitCatelog" serializeAs="String">
        <value></value>
      </setting>      
    </REPORT>
  </ConnectionSetting>
</configuration>